*
{
	font-family: 'Titillium Web', sans-serif;
}

body

{
	background-color: #ffab00;

}



.login .btn a

{

	background-color: #ffab00;

}



.login .container

{

	background-color: #FFF;

	margin-top: 100px;

	width: 40%;

	padding: 20px;

}



.login .container img

{

display:block;
margin: 10px auto;
}

